<h2>HTML</h2>
<div class="toolkit-card">
<mat-card *ngFor="let tool of htmlTools" >
  <a href={{tool.link}}>
      <!--<i class="material-icons"> {{tool.icon}}</i>-->
    <mat-card-header>
      <mat-card-title>{{tool.title}}</mat-card-title>
      <mat-card-subtitle>{{tool.subtitle}}</mat-card-subtitle>
    </mat-card-header>
  </a>  
</mat-card>
</div>

<h2>CSS</h2>
<div class="toolkit-card">
<mat-card *ngFor="let tool of cssTools" >
  <a href={{tool.link}}>
      <!--<i class="material-icons"> {{tool.icon}}</i>-->
    <mat-card-header>
      <mat-card-title>{{tool.title}}</mat-card-title>
      <mat-card-subtitle>{{tool.subtitle}}</mat-card-subtitle>
    </mat-card-header>
  </a>  
</mat-card>
</div>