<h2>HTML</h2>
<mat-card class="toolkit-card" *ngFor="let tool of htmlTools">
    <mat-card-header>
      <mat-card-title>{{tool.title}}</mat-card-title>
      <mat-card-subtitle>{{tool.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{tool.image}} alt={{tool.altImage}}>
    <mat-card-content>
      <p>{{tool.content}} </p>
      <a href={{tool.link}}>Let's go!</a>
    </mat-card-content>
</mat-card>
<!--
<h2>CSS</h2>
<mat-card class="toolkit-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{image}} alt={{altImage}}>
    <mat-card-content>
      <p>{{content}} </p>
    </mat-card-content>
</mat-card>

<h2>Javascript</h2>
<mat-card class="toolkit-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{image}} alt={{altImage}}>
    <mat-card-content>
      <p>{{content}} </p>
    </mat-card-content>
</mat-card>

<h2>More Frontend</h2>
<mat-card class="toolkit-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{image}} alt={{altImage}}>
    <mat-card-content>
      <p>{{content}} </p>
    </mat-card-content>
</mat-card>
-->
